# .dockerignore

# Directorios
node_modules/
dist/
.git/
.github/
coverage/
test/
logs/
tmp/
.idea/
.vscode/

# Archivos
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.swp
*.env
.env.local
.env.*.local
!.env.example

# Archivos de configuración de Railway
railway.json
railway.toml
Procfile

# Archivos específicos del repositorio
README.md
CHANGELOG.md
LICENSE
.gitignore
.prettierrc
.eslintrc.js
