# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
NODE_ENV=development

# Database Local Development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=psicoespacios

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

# Email (CPANEL - PsicoEspacios)
MAIL_HOST=mail.psicoespacios.cl
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=info@psicoespacios.cl
MAIL_PASS=tu_password_del_email
MAIL_FROM=info@psicoespacios.cl
MAIL_FROM_NAME=PsicoEspacios

# Configuración adicional
MAIL_TEMPLATES_PATH=./src/mail/templates
MAIL_LOGS_ENABLED=true

# Backblaze B2 Configuration
BACKBLAZE_ACCOUNT_ID=your_account_id
BACKBLAZE_APPLICATION_KEY=your_application_key
BACKBLAZE_BUCKET_NAME=your_bucket_name
BACKBLAZE_BUCKET_ID=your_bucket_id
BACKBLAZE_ENDPOINT=your_endpoint

# Flow Payment Configuration
FLOW_API_KEY=your_flow_api_key
FLOW_SECRET_KEY=your_flow_secret_key
FLOW_COMMERCE_ID=your_commerce_id
FLOW_ENVIRONMENT=production

# Server Configuration
PORT=3000

# Application URLs
API_URL=http://localhost:3000
FRONT_URL=http://localhost:3001 