<div class="success-box">
  <h2>¡Reserva de Box Confirmada!</h2>
  <p>Tu reserva ha sido ingresada con éxito con los siguientes datos:</p>
  <ul>
    {{#if sedeNombre}}<li><strong>Sede:</strong> {{sedeNombre}}</li>{{/if}}
    {{#if boxNombre}}<li><strong>Box:</strong> {{boxNombre}}</li>{{/if}}
    <li><strong>Fecha:</strong> {{fecha}}</li>
    <li><strong>Hora:</strong> {{hora}} hrs.</li>
  </ul>
  <p>Te recordamos llegar con anticipación y, si es tu primera vez arrendando box con nosotros, encuentra aquí las instrucciones para acceder:</p>
</div>

<div class="info-box">
  <ul>
    <li>Tobalaba: <a href="https://docs.google.com/document/d/1uBQxSyIs2nXqfFKOzmOorPtZD45-g2K8xRgCoJwNGM0/edit?tab=t.0#heading=h.qlr3my6g40gu" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Los Leones: <a href="https://docs.google.com/document/d/1wr_PAVRg9-EyNwWCtQRZ8ZjZIWNfRnJq_eBogYf-BSI/edit?tab=t.0" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Pedro de Valdivia I: <a href="https://docs.google.com/document/d/1S9PxHsY2zsbuNGEHYPPVYjmTeEQlr_7b3Ig0UWt3Eos/edit?tab=t.0#heading=h.qlr3my6g40gu" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Pedro de Valdivia II: <a href="https://docs.google.com/document/d/1AaV1c08X8iVYapfwl4qmIwgCTNcMSfhYy9GTE6k_NyM/edit?tab=t.0" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Manuel Montt: <a href="https://docs.google.com/document/d/16HRNb7j5EjeH7mUrfZp4igMgWmRI9ZDZm2CfqvOOr5g/edit?tab=t.0#heading=h.qlr3my6g40gu" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Ñuñoa: <a href="https://docs.google.com/document/d/1bnh-KeF2GV33nRgzp-lbtQQupwdgAtqJ8GVTaCW65IY/edit?tab=t.0#heading=h.qlr3my6g40gu" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
    <li>Viña del Mar: <a href="https://docs.google.com/document/d/1aGEr53DKIwHsbpghfPgKgZplI58bl9P32m-7ZyMexCc/edit?tab=t.0#heading=h.qlr3my6g40gu" target="_blank" rel="noopener noreferrer">Click aquí</a></li>
  </ul>
</div>

<p>Gracias por confiar en PsicoEspacios.</p>

