<div class="success-box">
  <h2>Nueva sesión confirmada</h2>
  <p>
    Tienes una nueva sesión confirmada desde el Centro de Derivación.
    Puedes revisar los detalles en tu dashboard.
  </p>
  <p>
    Recuerda que el valor de esta sesión será recaudado en su totalidad por PsicoEspacios, luego la gestión del paciente es de tu responsabilidad.
  </p>
</div>


